body {
	background: #111111;
	color: #999999;
	margin: 0px;
	font-family: Verdana;
}

#header {
	display: block;
	background: #000000;
	margin: 0px;
	margin-bottom: 40px;
	height: 150px;
	color: #999999;
	border-bottom: 1em #550000 solid;
}

#header img {
	display: inline;
	height: 80%;
	margin-left: 1em;
	margin-top: 1em;
}

#header h1 {
	font-size: 5em;
	padding: 0px;
	margin: 0px;
	margin-left: 10px;
	display: inline;
}

#spinner {
	height: 2em;
	display: inline;
	margin-left: 5px;
	margin-right: 5px;
}

#content {
	clear: both;
	margin: 0 auto;
	width: 80%;
	box-shadow: 10px 10px;
	margin-bottom: 40px;
	min-width: 850px;
	background: #000000;
}

.confirmedandroid {
	border: #FF0000 7px solid;
}
.disprovenandroid {
	border: #00FF00 7px solid;
}
.maybeandroid {
	border: #FFFF00 7px solid;
}
.idnotfound {
	border: #333333 7px solid;
}

#pofilephotoes {
	float: left;
	width: 20%;
	margin: 1em;
	border: 5px solid #B0413E;
}
#pofilephotoes img {
	width: 100%;
}

#pofilenames {
	float: left;
	width: 35%;
}

#summary {
	float: left;
	width: 40%;
}

#crimehistory {
	clear: both;
	float: left;
}

#fieldmeasure {
	float: right;
}
